<div id="LoginMobile" class="form-structor">
	<div class="signup" [class.slide-up]="!login">
		<h2 class="form-title" id="signup" (click)="onChange()">Login</h2>
		<div class="form-holder">
			<input type="text" class="input" placeholder="RU" />
			<input type="password" class="input" placeholder="Senha" />
		</div>
    <button class="submit-btn" >Acessar</button>
    <p style="
    color: #fff;
    font-size: 0.8em;
    text-align: center;
">Esqueci minha senha</p>
	</div>
	<div class="login" [class.slide-up]="login">
		<div class="center">
			<h2 class="form-title" id="login" (click)="onChange()">Convite</h2>
			<div class="form-holder">
				<input type="text" class="input" placeholder="Código" />
			</div>
			<button class="submit-btn">Acessar</button>
		</div>
	</div>
</div>
